body{
font-family: Arial, sans-serif;
font-size: 20px;
background-color: #e8eae7;
margin: 1px solid black;
}
.encabezado{
    border: 1px solid black;
    margin: 50px;
}
.contenedor{
    display: flex;
}
.main{
    margin: 50;
}
.navegacion ul{
    font-size: 15px;
 list-style: none;
 margin: 50px;
 display: flex;
 background-color: #959ec9;
 flex-direction: row;
 justify-content: center;
 gap: 30px;
}
.navegacion a{
     color: #e8eae7;
}
.descripcion_web{
    color: #e8eae7;
    background-color: #4e5174;
    text-align: center;
    padding: 20px;
}
ol li{
    list-style: none;
    padding: 10;
}
.subtitulo{
font-size: 12;
}
.hobbies{
    color: #28264c;
    text-align: center;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.hobby{
display: flex;
flex-direction: column;
align-items: center;
}
.about_me{
    font-size: 20px;
    color: #28264c;
    margin: 30px;
}
.me_container{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.desc_me{
    display: flex;
    color: #28264c;
    column-count: 2;
    column-gap: 100px;
    flex-direction: row;
    max-width: 500px;
}
.contacto{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.pie_pagina{ 
    font-size: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    color: aliceblue;
    background-color:#28264c ;
    padding: 10px 20px;
}
.pie_pagina a{
color: aliceblue;
}
.nav_footer ol{
    display: flex;
    list-style: none;
 flex-direction: row;
 justify-content: center;
 gap: 30px;
}
